.fj-button {
  width: 100%;
  height: 50px;
  font-size: 17px;
  border: 0;
  border-radius: 3px;
  appearance: none;
  outline: 0;
  text-align: center;
}
.fj-button.is-disabled,
.fj-button:not(.is-disabled):active {
  opacity: .8;
}
.fj-button-default {
  font-size: 17px;
  color: #38B1EB;
  background-color: #fff;
}
.fj-button-primary {
  color: #fff;
  background-color: #38B1EB;
}
