@import "../../../variables.css";
.fj-header {
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 45px;
  color: #fff;
  background-image: linear-gradient(90deg, #00B7CF 0%, #0082C0 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: var(--z-index-header);
}
.fj-header-title {
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1;
}
.fj-header-button {
  /*flex: .5;*/
  width: 25px;
  margin: 0 10px;
}
.fj-search-bar {
  display: flex;
  flex: 1;
  height: 30px;
  padding: 0 8px;
  background-image: linear-gradient(90deg, #34C7DB 0%, #209FE6 97%);
  border-radius: 50px;
  text-align: left;
}
.fj-search-bar-icon {
  font-size: 16px;
  line-height: 30px;
}
.fj-search-cancel {
  display: inline-block;
  color: #fff;
  margin: 0 10px;
}
.fj-search-input {
  flex: 1;
  margin: 0;
  padding: 0 10px;
  border: 0;
  border-radius: 0;
  outline: 0;
  /*line-height: 1.4;*/
  color: #fff;
  font-size: 14px;
  background-color: transparent;
}
